html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

/* footer  */
footer {
  /* position: fixed; */
  background: #140b5c;
  width: 100%;
  bottom: 0;
  left: 0;
}

/* footer::before {
  content: '';
  position: absolute;
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%;
  background: #AFAFB6;
} */

footer .content {
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}

footer .content .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.content .top .logo-details {
  color: #fff;
  font-size: 30px;
}

.content .top .media-icons {
  display: flex;
}

.content .top .media-icons a {
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}

.top .media-icons a:nth-child(1) {
  background: #4267b2;
}

.top .media-icons a:nth-child(1):hover {
  color: #4267b2;
  background: #fff;
}

.top .media-icons a:nth-child(2) {
  background: #1da1f2;
}

.top .media-icons a:nth-child(2):hover {
  color: #1da1f2;
  background: #fff;
}

.top .media-icons a:nth-child(3) {
  background: #e1306c;
}

.top .media-icons a:nth-child(3):hover {
  color: #e1306c;
  background: #fff;
}

.top .media-icons a:nth-child(4) {
  background: #0077b5;
}

.top .media-icons a:nth-child(4):hover {
  color: #0077b5;
  background: #fff;
}

.top .media-icons a:nth-child(5) {
  background: #ff0000;
}

.top .media-icons a:nth-child(5):hover {
  color: #ff0000;
  background: #fff;
}

footer .content .link-boxes {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

footer .content .link-boxes .box {
  width: calc(100% / 5 - 10px);
}

.content .link-boxes .box .link_name {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}

.link-boxes .box .link_name::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}

.content .link-boxes .box li {
  margin: 6px 0;
  list-style: none;
}

.content .link-boxes .box li a {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease;
}

.content .link-boxes .box li a:hover {
  opacity: 1;
  text-decoration: underline;
}

.content .link-boxes .input-box {
  margin-right: 55px;
}

.link-boxes .input-box input {
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #afafb6;
  background: #140b5c;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}

.link-boxes .input-box input::placeholder {
  color: #afafb6;
  font-size: 16px;
}

.link-boxes .input-box input[type="button"] {
  background: #fff;
  color: #140b5c;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}

.input-box input[type="button"]:hover {
  opacity: 1;
}

footer .bottom-details {
  width: 100%;
  background: #0f0844;
}

footer .bottom-details .bottom_text {
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}

.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}

.bottom-details .bottom_text a:hover {
  opacity: 1;
  text-decoration: underline;
}

.bottom-details .bottom_text a {
  margin-right: 10px;
}

@media (max-width: 900px) {
  footer .content .link-boxes {
    flex-wrap: wrap;
  }

  footer .content .link-boxes .input-box {
    width: 40%;
    margin-top: 10px;
  }
}

@media (max-width: 700px) {
  footer {
    position: relative;
  }

  .content .top .logo-details {
    font-size: 26px;
  }

  .content .top .media-icons a {
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }

  footer .content .link-boxes .box {
    width: calc(100% / 3 - 10px);
  }

  footer .content .link-boxes .input-box {
    width: 60%;
  }

  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a {
    font-size: 12px;
  }
}

@media (max-width: 520px) {
  footer::before {
    top: 145px;
  }

  footer .content .top {
    flex-direction: column;
  }

  .content .top .media-icons {
    margin-top: 16px;
  }

  footer .content .link-boxes .box {
    width: calc(100% / 2 - 10px);
  }

  footer .content .link-boxes .input-box {
    width: 100%;
  }
}

/* videos  */




/* .music-video>iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
} */

.music-video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://th.bing.com/th/id/R.8243eb09178404282e6ebbc9344f898f?rik=AY4SIuJOZnXL4g&pid=ImgRaw&r=0');
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.4);
  /* adjust opacity as needed */
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.music-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ytp-large-play-button .ytp-button .ytp-large-play-button-red-bg {
  display: none !important;
}

/* Audio music card  */
.audioCard {
  height: 200px;
  width: 400px;
  display: flex;
  border-radius: 5px;
}

.audioCard img {
  height: 100px;
  margin: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.4);
}

.audioCard .content {
  color: #ffffff;
}

.audioCard .controlls {
  margin: 10px 0;
}

.audioCard .controlls a {
  text-decoration: none;
  margin: 0 10px;
}

.audioCard .controlls .fa {
  color: #ffffff;
  height: 60px;
}